@import 'bootstrap/bootstrap';

@mixin transition($property, $duration, $easiness) {
  -webkit-transition: $property $duration $easiness;
     -moz-transition: $property $duration $easiness;
      -ms-transition: $property $duration $easiness;
       -o-transition: $property $duration $easiness;
          transition: $property $duration $easiness;
}

$primary-header-dark: #a58030;
$primary-header-light: #f4ead2;

.page-header {
  .logo {
    position: absolute;
    top: 33px;
    width: 100%;
    height: 75px;
    text-align: center;
    img {
      height: 100%;

    }
  }
  .region-1 {
    height: 55px;
    background: url('../img/a58030noise.png');
  }
  .region-2 {
    height: 100px;
    background: url('../img/f4ead2noise.png');
  }
  .container {
    position: relative;
    .navbar {
      position: absolute;
      width: 100%;
      bottom: 0;
      .navbar-nav {
        margin: 0 auto;
      }
    }
  }
}

.custom-carousel {
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 31.25%;
  position: relative;
  display: block;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  .carousel-item {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    &.active {
      display: block;
    }
    img {
      width: 100%;
    }
    .description {
      @extend .d-none;
      @extend .d-md-block;
      position: absolute;
      bottom: 0;
      width: 100%;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 7px 10px;
      text-align: center;
      * {
        margin: 0;
      }
    }
  }
}

.main {
}
