@import 'bootstrap/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

@mixin transition($property, $duration, $easiness) {
  -webkit-transition: $property $duration $easiness;
     -moz-transition: $property $duration $easiness;
      -ms-transition: $property $duration $easiness;
       -o-transition: $property $duration $easiness;
          transition: $property $duration $easiness;
}

$primary-header-dark: #a58030;
$primary-header-light: #f4ead2;
$main-body-color: #faf5ea;

* {
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

// Navigation and logo
.page-header {
  position: relative;
  .logo {
    position: absolute;
    top: 33px;
    width: 100%;
    height: 75px;
    text-align: center;
    img {
      height: 100%;

    }
  }
  .region-1 {
    height: 55px;
    background: url('../img/a58030noise.png');
  }
  .region-2 {
    height: 100px;
    background: url('../img/f4ead2noise.png');
  }
  .navbar {
    &.fixed-top {
      position: fixed;
      top: 0;
    }
    border-bottom: 2px solid $primary-header-dark;
    position: absolute;
    top: 99px;
    width: 100%;
    background: url('../img/f4ead2noise.png');
    z-index: 1000;
    .navbar-nav {
      margin: 0 auto;
    }
    .container {
      position: relative;
      .socials {
        @media (min-width: 768px) {
          position: absolute;
          right: 0;
        }
        img {
          width: 30px;
          height: 30px;
          opacity: 0.6;
          @include transition(opacity, 400ms, ease);
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}


// Carousel slide show
.custom-carousel {
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 31.25%; // carousel is supposed to have width / height ratio 1 / 0.3125
  position: relative;
  display: block;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  .carousel-item {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    &.active {
      display: block;
    }
    img {
      width: 100%;
    }
    .description {
      @extend .d-none;
      @extend .d-md-block;
      position: absolute;
      bottom: 0;
      width: 100%;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 7px 10px;
      text-align: center;
      * {
        margin: 0;
      }
    }
  }
}

.main {
  background: url('../img/f5ebd6noise.png');
  .centered-desc {
    padding: 40px 0;
    .content {
      margin: 0 auto;
      text-align: center;
      max-width: 600px;
      text-overflow: ellipsis;
    }
  }

  .content-block {
    padding: 40px 0;
  }

  .block-1 {
    background: url('../img/cc0000noise.png');
    color: white;
    .heading-underline:before {
      border-bottom: 2px solid white;
    }
  }
}

.heading-underline {
  display: block;
  width: 100%;
  &:before {
    border-bottom: 2px solid black;
    width: 100px;
    content: '';
    display: block;
    margin: 0 auto 20px auto;
  }
}

.centered {
  text-align: center;
}
